:root{
    --maincolor:#057c36;
    --secondcolor:#695733;
    --thirdcolor:#f4ab01;
  --max-width: 1200px;
  --textcolor:#4A5764;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: serif;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 70%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

header{
    position: fixed;
    /* top:0; */
    /* 
    left:0;
    right: 0; */
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* padding: 1rem 5%; */
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
    z-index: 1000;
    background-color: #fff;
}
.logo{
    margin-top: 80px;
    width: 300px;
}
.logo img{
    width: 100%;
}
.navbar a{
    position: relative;
    color: var(--textcolor);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
}
.navbar a:hover{
    color: var(--maincolor );
}

.navbar a::after{
    content: "";
    background-color: var(--maincolor);
    width: 0;
    height: 0.2rem;
    position: absolute;
    margin-top: 0.3rem;
    left: 0;
    transition: .3s all ease;
    top: 100%;
}
.navbar a:hover::after{
    width: 100%;
    /* transition: .3s all ease; */
}
#menu{
    color: var(--textcolor);
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 1rem ;
    display: none;
}
#menu:hover{
    color: var(--maincolor);
}
.right-icons .btn{
     padding: 1rem;
     font-size: 1.7rem;
     color: var(--textcolor);
     border: 3px solid var(--maincolor);
     cursor: pointer;
     margin-right: 30px;
}

.right-icons .btn:hover{
    background:var(--maincolor);
    color:white;
}

/* home section begins */

.main{
  padding: 2rem 7%;
 background-image:url(img2/blurbg1.webp) ;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.home{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6rem;
  flex-wrap: wrap;
  gap: 1rem;
}
.home .home-left{
flex:1 1 35rem ;
}
.home .home-left span{
  font-size: 1.7rem;
  color: var(--maincolor);
  padding: 1rem 0;
  font-weight:bolder ;
  }
  .home .home-left h2{
    font-size: 48px;
    margin: 1rem 0;
    }

    .home .home-left p{
      font-size: 1.7rem;
      color: var(--textcolor);
    }

    .home-btn{
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-top: 2rem  ;
    }

    .home-btn a{
      display: inline-block;
      padding: 1.5rem 2rem;
      background-color: var(--maincolor);
      font-size:1.7rem;
      color: white;
      font-weight: bold;
      transition: all .5s  ease;
    }
       .home-btn a:hover{
        padding: 1.5rem 2.5rem;
        color: var(--maincolor);
        background-color: #fff;
       }
    .home-btnsec{
      background: #fff;
      color: var(--textcolor);
      border: 1px solid var(--maincolor);
    }
    .home-btnsec:hover{
      background-color: var(--maincolor) ;
      color: white;
    }
.home .home-right{
  flex: 1 1 45rem;
}
.home .home-right img{
  width: 100%;
  margin-top: 2rem;
}
.technology{
  padding: 3rem 7%;
}
.main-tech{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -120px;
  gap: 1.5rem;
}

.inner-tech{
  flex: 1 1 300px;
  padding:3rem 2rem;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.24);
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
.inner-tech:hover{
  background: var(--maincolor);
}
.inner-tech:hover i{
  color: #fff;
}
.inner-tech:hover h2{
  color: #fff;
}
.inner-tech:hover p{
  color: #fff;
}
.inner-tech i {
  color: var(--maincolor);
  font-size: 48px;
}
.inner-tech h2{
  font-size: 2.5rem;
  padding: 1rem 0;
}
.inner-tech p{
  font-size: 1.5rem;
  line-height: 2rem;
}
/* home section ends */ 

/* About section begins */
.about-main{
  padding: 2rem 7%;
  width: 100%;
  /* height: 100vh; */
}
.about-inner{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.inner-content{
  flex: 1 1 45rem;
}
.inner-content-left img{
  width: 100%;
}
.inner-content-left{
  flex: 1 1 40rem;
}
.right-content h2{
  font-size: 30px;
  padding: 1.5rem 0;
  color: var(--textcolor);
}
.right-content p{
  font-size: 1.7rem;
  padding: 1.5rem 0;
  color: var(--textcolor);
}
.right-para{
  line-height: 3rem !important;
}

 /* ul{
  list-style-type: none;
 backdrop-filter: blur(20px);
}
ul li{
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  color: var(--textcolor);
}
ul li:hover{
 cursor: pointer;
}
.dropdown{
  display: none;
} */
/* a:hover .dropdown{
  display: block;
  position: absolute;
  margin-left:60px;
  margin-top: 0.27cm;
  cursor: pointer;
}
.dropdown ul{
  margin: 0;
  padding: 0;
}
.dropdown ul li{
  display: block;
} */

/* About section ends */

/* doctors section */
/* .main-doctors{
  padding: 2rem 7%;
  width: 100%; 
}
.doctors-heading{
  font-size: 30px;
  text-align: center;
  margin: 2rem;
}

.main-inner-doc{
   display: flex;
  align-items: center; 
   flex-wrap: wrap;
  gap: 1.5rem; 
}
.doc-pic{
  flex: 1 1 300px;
}
.doc-pic img{
  width: 100%;
  border: 1rem solid #fff;
  border-radius: 20px;
} 
.doc-icons{
  position: absolute;
  top: 10%;
  left: 10%;
}
.doc-icons i{
  font-size: 2rem;
  margin: 0.5rem;
  border: 1px solid var(--textcolor);
  color: var(--maincolor);
} */


.main-doctors .header {
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 2rem;
}

.doc-content h2{
  font-size: 40px;
  text-align: center;
}


.doctors-grid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* margin: auto; */
  padding: 5rem 10rem;
}

.doctors-card {
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.doctors-card-image {
  position: relative;
  overflow: hidden;
}
.doctors-card-image img{
  width: 100%;
}

.doctors-socials {
  position: absolute;
  left: 0;
  bottom: -4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: 0.5s;
}

.doctors-socials span {
  display: inline-block;
  padding: 6px 12px;
  font-size: 1.5rem;
  color: var(--textcolor);
  background-color: var(--white);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.doctors-socials span:hover {
  color: var(--textcolor);
}

.doctors-card:hover .doctors-socials {
  bottom: 2rem;
}

.doctors-card h4 {
  margin-top: 1rem;
  font-size: 2rem;
  color: var(--textcolor);
  font-weight: 600;
}

.doctors-card p {
  margin-bottom: 1.5rem;
  color: var(--textcolor);
  font-size: 1.5rem;
}
/* doctors section end  */

/* services section begins  */

.services{
  width: 100%;
  padding: 3rem 7%;
}

.services-heading h2{
  font-size: 40px;
  color: var(--maincolor);
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 10px;
}
.main-services{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  text-align: center;
}
.inner-services{
  flex: 1 1 300px;
  padding: 0.5rem;
  box-shadow: rgba(99, 99, 99, 0.483)0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-services:hover {
  transform: translateY(-10%);
  border-bottom: 2px solid var(--maincolor);
  transition: all .4s ease;
}
.inner-services:hover .service-icon{
  width: 100px;
  height: 100px;
  border-radius: 0;
  background-color: var(--maincolor);
}

.inner-services:hover .service-icon i{
  color: white ;
  transform: scale(1.1);
}
 .service-icon{
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid var(--secondcolor);
 }
.service-icon i{
   font-size: 3rem;
   color: var(--maincolor);
   padding: 1rem;
}
.inner-services h3{
  font-size: 2rem;
  padding: 0.5rem 0;
}
.inner-services p{
  padding: 1.5rem ;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
/* services section ends  */





@media (max-width:992px){
      .right-icons{
        display: flex;
        align-items: center;
      }
      .right-icons .btn{
        font-weight: bold;
        font-size: 18px;
      }
      .right-icons .btn:hover{
        color: #fff;
        background-color: var(--maincolor);
        transition: .3s ease-in-out;
      }
      #menu{
        display: inline;
        margin-left: 20px;
      }
      .logo{
        margin-top: 90px;
        width: 40%;
      }
      header{
    height:17%;
      }
      .navbar{
        /* background-color:blue; */
        backdrop-filter: blur(70px);
        position: absolute;
        top: 100%;
        left: -100%;
        height: 65vh;
        width: 50%;
      }
      .navbar.active{
        left: 50%;
      }
      .navbar a{
        display: block;
        margin: 2rem;
        padding: 1rem;
        color:var(--textcolor);
        font-weight: bold;
        font-size: 15px;
        border:1px solid var(--textcolor) ;
      }
      .navbar a:hover{
        color: #fff;
        background-color: gray;
        transform: scale(1.02);
      }
      .navbar a::after{
        background-color:transparent;
    }

      .home .home-left{
        margin-top: 80px;
        text-align: center;
      }
      .home .home-left span{
        font-size: 30px;
        color: var(--maincolor);
    }
    .home .home-left p{
      font-size: 20px; 
  }
      .home .home-left h2{
          font-size: 40px;
      }
      .home-btn{
        display: flex;
        align-items: center ;
        justify-content: center;
      }
      .main-tech{
        margin-top:0
      }
      .right-content h2{
        font-size: 20px;
      } 
      .doctors-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
      }
}

@media (max-width:395px){
  .right-icons .btn{
    font-weight: bold;
    font-size: 14px;
  }
  header{
    height: 10%;
  }
  .logo{
    margin-bottom: 30px;
  }
  .home{
    margin-top: 40px;
    text-align: center;
  }
  .home .home-left span{
    font-size: 18px;
}
.home .home-left p{
  font-size: 18px; 
}
  .home .home-left h2{
      font-size: 25px;
  }
  .home-btn a{
    display: flex;
    align-items: center ;
    justify-content: center;
    padding: 9px;
    font-weight: 100;
  }
  
  .inner-tech{
    padding:1rem 2rem;
  } 
}